/* Main container for the Contact component */
.contact-container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Title styling */
.contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Contact description styling */
.contact-container p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Flex container for the contact links */
.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Styling for each contact link */
.contact-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    color: #171716;
}

/* Icon styling */
.contact-links i {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #a38f8b;
}

/* Hover effect for links */
.contact-links a:hover {
    transform: scale(1.1); /* Slightly enlarges link on hover */
    color: #e3d4d1; 
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .contact-links {
        flex-direction: column;
        gap: 20px;
    }
}
